#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1

# main packaging script based on dh7 syntax
%:
	dh $@ --buildsystem=cmake --sourcedirectory=ConfigPage --parallel

