Source: startpage
Section: utils
Priority: optional
Maintainer: IT4S GmbH <support@it4s.eu>
Build-Depends: debhelper (>= 9), qt5-default, cmake
Standards-Version: 3.9.5

Package: startpage
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), qt5-default, ${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: Mainscreen where the user can sign in to any remote system 